@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

body{
    background-color: black;
}



.hr{
    border-bottom: 0.5px solid;
    width: 100%;
    border-color: aliceblue;
}

.logo{
    text-decoration: none;
    color: white;
}

.logo-brand{
    font-family: monospace;
    font-size: 18px;
}

.nav-brand{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.details{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.details .detail-title .h6{
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace; 
    font-size: 18px;
    font-weight: 600;
     letter-spacing: 2px;
}

.no-underline {
    text-decoration: none; /* Removes underline by default */
  }
  

  .no-underline,
  .no-underline:active,
  .no-underline:focus {
    text-decoration: none !important; /* Force remove underline when clicked or focused */
    color:rgba(240, 248, 255, 0.79) !important;
    font-family: 'Courier New', Courier, monospace;
     font-size: 12px; 
     letter-spacing: 2px;
  }

.nav-link{
    font-family: Inconsolata,monospace;
    font-size: 1em ;
    /* letter-spacing: 3px; */
    color:rgba(240, 248, 255, 0.79) !important;
    
   
}

.nav-link:focus, .nav-link:hover,.nav-item .active {
    border-bottom: 1px solid white;
}

.icon-grid {
    display: grid;
    place-items: center; /* Centers content both horizontally and vertically */
    justify-content: flex-end;
  }

  .hr{
    margin-top: 0px;
  }

.icon-container > i{
    border: 0.5px solid white;
    font-size: 0.7rem;
    padding: 6px;
    color: white !important;
    border-radius: 8px 0px 8px 8px;
}

.nav-brand-container{
    flex-wrap: nowrap;
}
.nav-brand-container > .row{
   width: 100%;
}

@media (max-width:768px){
    
.nav-link:focus, .nav-link:hover {
    border-bottom: 1px solid white;
}

.nav-link{
    font-size: 0.8em ;
    padding: .5rem 0.8rem ;
}

    .details{
        flex-direction:column;
        gap: 5px;
    }
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler {
    border-color: white; /* Change border color of the toggler */
  }

.mobile-header{
    display: none !important;
    
}

@media (min-width: 768px){
    .sidebar{
        display: none !important;
    }
}


/* index2.html */
@media (max-width:430px){
    .mobile-header{
        top: 0px !  important;
        display: flex !important;
        position: sticky !important;
        z-index: 100;
        padding-top: 1em ! important;
    }
}


.sidebar {
    position: fixed !important;
    /* display: none; */
    top: 0;
    right: 0;
    height: 100%;
    width: 285px;
    z-index: 999;
    background-color: rgba(40, 40, 40, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.sidebar * {
    background-color: transparent !important;
}

@media (max-width:430px){
    .header{
        display: none;
    }
    .sidebar{
        display: none;
    }
  
}










.cursor {
    display: inline-block;
    width: 6px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    animation: blink 0.7s infinite;
}
@keyframes blink {

    0%,
    100% {
        background-color: transparent;
    }

    50% {
        background-color: rgb(250, 250, 250);
    }
}

.btn-cv{
    color: white !important; 
    border: 1px solid white !important; 
    border-radius: 40px !important;
    padding: 0.5em 2em !important;
    margin-top: 3em;
    font-family: monospace; 
    font-size: 1.2em;
    cursor: wait;
    background: linear-gradient(145deg, #2a2a2a, #383838);
    border: 2px solid #ff4081;
    
}

.btn-cv:hover {
    animation: pulse 1.5s infinite;
}

/* Animations */
@keyframes pulse {
    0% { transform: scale(1.05); }
    50% { transform: scale(1); }
    100% { transform: scale(1.05); }
}

#text{
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}


.text{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 2.5rem;
    letter-spacing:5px;
    color: #ffc400;
}

.hero-banner{
    display: none !important;
}




.paragraph-text{
    font-family: "Inconsolata",monospace;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 26px;
    color: white;
}



@media (max-width: 430px){

    .paragraph-text{
        font-family: "Inconsolata",monospace;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 26px;
        text-align: justify;
        
    }

    .banner-heading{
        color: white;
    }

    .hero-banner{
        color: white;
        display: flex !important;
        flex-direction: column-reverse;
    }
    
    .heading{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 700;
        font-size: 2.5rem !important;
        letter-spacing:3px !important;
        padding: 0px !important;
        text-align: center;
    }

    .navigation-link{
        padding: .5rem 0rem !important;
        border-bottom: 1px solid white;
    }

    .text{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 600;
        font-size: 1.8rem;
        letter-spacing:5px;
        text-align: center;
    }
    /* */
    .typing_mobile{ 
        text-align: center;
    }
    .typing_mobile > #texts{
        font-size: 1.5rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 400;
        color: white;
    }
    
    .cursor_mobile {
        display: inline-block;
        width: 6px;
        height: 30px;
        background-color: rgb(255, 255, 255);
        animation: blink 0.7s infinite;
    }
    @keyframes blink {
    
        0%,
        100% {
            background-color: transparent;
        }
    
        50% {
            background-color: rgb(250, 250, 250);
        }
    }

    .btn-cv{
        color: white !important; 
        border: 1px solid white !important; 
        border-radius: 40px !important;
        padding: 0.5em 2em !important;
        margin-top: 2em;
        font-family: monospace; 
        font-size: 1.2em;
        text-align: center !important;
    }

    .box-download{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .img-container *{
        display: flex;
        text-align: center;
        height: 400px!important;
        width: 100%;
        border-radius: 50px;
        
    }

    .img-container > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left center;
    }

    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .banner-heading{
        padding-left: 0px !important ;
    }
    .first-section{
        height: 50vh !important;
        text-align: center;
    }
    .content{
        display: none !important;
        flex-direction: row-reverse;
    }
    .mobile-img{
        display: flex !important;
        width: 100%;
        height: 50vh;
        padding: 0px 50px;
        justify-content: center;
        align-items: center;
    }
    .mobile-img > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left center;

    }
    .img-container{
        position: relative;
    }

    .section-2{
        padding:0 !important;
    }

    .skill-acquired{
        flex-direction: column-reverse;
    }
    
    .title{
        font-family: "Bebas Neue", sans-serif;
        font-weight: 600;
        font-size: 1.8rem !important;
        letter-spacing:5px;
        text-align: center;
    }
}


.mobile-img{
    display: none;
}

/* hero section */
.content{
    display: flex;
    /* align-items: flex-start; */
    flex-wrap: wrap;
}

.content > div{
    flex: 1 1 calc(992px /2);
}

.banner-heading{
    display: flex;
    flex-direction:column ;
    color: white;
    padding-left: 3em;
    /* padding-top: 6em !important;
    padding-left: 5em !important; */
}

.heading{
    
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 5rem;
    letter-spacing:5px;
}

.img{
    width:50%;
    height: 100vh;
    position: sticky !important;
    top: 0px ;
}

.img >img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position:left center;
   
     
    
}

.about-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.first-section{
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}

.header{
    position: sticky;
    top: 0px;
    z-index: 999;
}


#icons > img{
    width: 150px;
    height: 150px;
    /* background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0.20021651238620453) 50%, rgba(255,255,255,0.16940418745623254) 100%); */
    -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
    padding: 20px;
    border-radius: 8px;
    

}

#icons > img:hover{
    -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}

#icons:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 0 #ffffff50;
    border: 2px solid #ffc400;
    border-radius: 8px;
}

.languages-image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 20px 0 ;
    justify-content: center;
}


.skill-text{
    font-family: "Inconsolata",monospace;
    color: white;
    font-size: 1.3em;
}

.section-2{
    padding: 3rem ;
    position: sticky;
    top: 0px;

}


mark {
	animation: highlight linear forwards;
	animation-timeline: view(60% 20%);
	background: linear-gradient(
		to right,
		oklch(0.86 0.19 84.89 / 1) 50%,
		oklch(0.86 0.19 84.89 / 0) 50%
	);
	background-position: 100%;
	background-size: 200% 100%;
	border-radius: 0.125rem;
	padding-inline: 0.125rem;
}

@keyframes highlight {
	to {
		background-position: 0;
	}
}


.title{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    letter-spacing:5px;
    color: #ffc400;
}